


<div class="bg-white border-right shadow-sm" id="sidebar-wrapper">
    <div class="list-group list-group-flush">
        <a href="" @Url.Action("Index", "Home", new { @class = "Contact" }) class="list-group-item list-group-item-action bg-light"><i class="fa fa-2x fa-align-center fa-id-card"></i></a>        
    </div>
</div>
