
<div class="d-flex p-3 m-2 align-items-center">
    <span><button class="btn btn-outline-primary" id="menu-toggle">&#9776;</button></span>
    <a class="thead-dark" style="padding-left: 5px; margin-left: 0.8rem; font-family: Arial,Helvetica Neue,Helvetica,sans-serif; font-weight:bold;">Contacts</a>

    <div class="ml-3 ml-sm-auto">
        <form>
            <div class="form-row">
                <div class="col-8 col-sm-8">
                    <div class="form-group">
                        <input class="form-control mr-2" type="search" placeholder="Search" aria-label="Search">
                    </div>
                </div>
                <a class="top-right-btn-bg" style="align-self:baseline;"><i class="fa fa-search fa-i-color"></i></a>
                <a href="#" class="top-right-btn-bg" data-toggle="modal" data-target=".add-contact-modal" style="align-self:baseline;"><i class="fa fa-plus fa-i-color"></i></a>
            </div>
        </form>
    </div>
</div>
