@model ContactVM

<div class="container">
    <div class="row  justify-content-center align-content-center">
        <p class="col-12 text-center">No Contact List Available</p>
        <div class="col-auto">
        <button class="btn" data-toggle="modal" data-target=".add-contact-modal" style="background: #8173FE; color:white;">Add Contact</button>
        </div>
    </div>
</div>