/TrainingApp.MVC.UI.Web/bin
/TrainingApp.MVC.WebApi/bin
/TrainingApp/bin
/TrainingApp.MVC.Business/bin
/TrainingApp.MVC.Business/obj
/TrainingApp.MVC.Data/bin
/TrainingApp.MVC.Data/obj
/TrainingApp.MVC.DTO/bin
/TrainingApp.MVC.DTO/obj
/TrainingApp.MVC.Entities/bin
/TrainingApp.MVC.Entities/obj
/TrainingApp.MVC.Framework/bin
/TrainingApp.MVC.Framework/obj
/TrainingApp.MVC.UI.Process/bin
/TrainingApp.MVC.UI.Process/obj
/TrainingApp.MVC.UI.VIewModel/obj
/TrainingApp.MVC.UI.VIewModel/bin
/TrainingApp.MVC.ViewModel/bin
/TrainingApp.MVC.ViewModel/obj
/TrainingApp.MVC.WebApi/obj
